body {
    background: #cad7fda4;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #333;
}

.back-link:hover {
    color: #05360c;
}

/* Add some padding to the left of the header to accommodate the back arrow */
header {
    position: relative;
    padding-left: 40px;
}
.student-profile .card {
    border-radius: 10px;
}
.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}
.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}
.student-profile .card p {
    font-size: 16px;
    color: #000;
}
.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}